<h1>Dashboard</h1>

<p>Welcome to your dashboard page. Only you have access to this secure page.</p>

<p>The current session is <%= session[:user] || "empty" %>.</p>

<p>You can <a href="/logout">logout</a> if you wish.</p>
