<h1>Home</h1>

<p>Login to gain access your <a href="/dashboard">dashboard</a>.</p>

<p>The current session is: <%= session[:user] || "empty" %>. <% if session[:user] %><a href="/logout">logout</a><% end %></p>

<script src='/javascripts/handshake.js' 
        data-app_name="<%= @app_name %>" 
        data-root_url="https://handshakejs.herokuapp.com"></script>

<script>
  handshake.script.addEventListener('handshake:login_confirm', function(e) {
    console.log(e.data);
    $.post("/login/success", {email: e.data.identity.email, hash: e.data.identity.hash}, function(data) {
      window.location.href = "/dashboard";
    });    
  }, false); 
</script>
