<html>
<head>
  <title>handshake-example-ruby</title>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>

